<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="col-2 logo-col">
        <img src="assets/images/vu.png" class="d-block">
      </div>
  
      <div class="col-1 assessment-col text-center">
        <button mat-button routerLink="/login" >PL</button>
      </div>
  
      <!-- This fills the remaining space of the current row -->
      <!-- not needed now ..... left in for future reference    <span class="fill-remaining-space"></span> -->
  
      <div class="col-2 text-right admin-col">
        <!--<div *ngIf="isAdmin">-->
        <div *ngIf="isAdmin() && currentUser$ | async; let currentUser">
  
          <button mat-button
                  [matMenuTriggerFor]="administration"
                  (mouseenter)="buttonEnter(trigger)"
                  (mouseleave)="buttonLeave(trigger, button)"
                  #button
                  #trigger="matMenuTrigger"
                  style="z-index:1050"
          >
            ADMINISTRATION
            <mat-icon class="fas fa-caret-down" ></mat-icon>
          </button>
          <mat-menu #administration="matMenu" direction="down" yPosition="below" [overlapTrigger]="false">
            <span (mouseenter)="menuEnter()" (mouseleave)="menuLeave(trigger, button)">
              <button mat-menu-item routerLink="/login">User</button>
              <button mat-menu-item routerLink="/login">Client</button>
            </span>
          </mat-menu>
  
        </div>
      </div>
  
      <div class="col-1 text-center">|</div>
  
      <div class="col-1 text-left userprofile-col">
        <button mat-button routerLink="/userprofile">{{curUser}}</button>
      </div>
  
      <div *ngIf="isLoggedIn()" class="col-1 logout-col">
        <button mat-button (click)="logout()">LOG OUT</button>
      </div>
      <div *ngIf="!isLoggedIn()" class="col-1 logout-col">
          <button mat-button (click)="login()">LOG IN</button>
          <button mat-button (click)="register()">REGISTER</button>
          <!--
          <a routerLink="/login" routerLinkActive="active">Login</a>
          <a class="btn btn-primary btn-lg" [routerLink]="['login']" role="button">Login</a>
          -->
        </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  
